# Server global configuration
NODE_ENV=development
PORT=3000

# Database configuration (prisma)
DATABASE_URL="mysql://root:5skill@localhost:3306/cq_blog"

# JWT configuration
JWT_SECRET=example_secret_key_please_change_it
JWT_EXPIRES_IN=2h